*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    position: relative;
    max-width: 800px; 
    width: 80%;
}

.prev, .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.next{
    right: 0;
}

.prev{
    left: 0;
}

.prev:hover, .next:hover{
    background-color: white;
}

.item{
    display: none;
}

.item.active{
    display: block;
}

.item img{
    width: 100%;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}

.column img{
    width: 150px;
    height: 90px;
    filter: grayscale(1);
}

.selected img{ 
    filter: none;
}